In [1]:
from pandas import DataFrame, read_csv
import pandas as pd 
twitter_url_reps = r'../term-116.csv'
pd.set_option('mode.chained_assignment', None)
df = pd.read_csv(twitter_url_reps)

In [2]:
new = df[['name', 'twitter', 'group_id', 'chamber', 'gender', 'area_id']]
new.rename(columns={'group_id': 'party', 'chamber': 'title'}, inplace=True)
new.head(5)

,name,twitter,party,title,gender,area_id
0,A. Donald McEachin,RepMcEachin,democrat,House of Representatives,male,VA-4
1,A. Drew Ferguson IV,RepDrewFerguson,republican,House of Representatives,male,GA-3
2,Abby Finkenauer,NaN,democrat,House of Representatives,female,IA-1
3,Abigail Davis Spanberger,NaN,democrat,House of Representatives,female,VA-7
4,Adam B. Schiff,RepAdamSchiff,democrat,House of Representatives,male,CA-28

In [3]:
new.loc[df['area_id'].str.contains('AL'), 'area_id'] = 'alabama'
new.loc[df['area_id'].str.contains('AK'), 'area_id'] = 'alaska'
new.loc[df['area_id'].str.contains('AR'), 'area_id'] = 'arkansas'
new.loc[df['area_id'].str.contains('AZ'), 'area_id'] = 'arizona'
new.loc[df['area_id'].str.contains('CA'), 'area_id'] = 'california'
new.loc[df['area_id'].str.contains('CO'), 'area_id'] = 'colorado'
new.loc[df['area_id'].str.contains('CT'), 'area_id'] = 'connecticut'
new.loc[df['area_id'].str.contains('DE'), 'area_id'] = 'delaware'
new.loc[df['area_id'].str.contains('FL'), 'area_id'] = 'florida'
new.loc[df['area_id'].str.contains('GA'), 'area_id'] = 'georgia'
new.loc[df['area_id'].str.contains('HI'), 'area_id'] = 'hawaii'
new.loc[df['area_id'].str.contains('ID'), 'area_id'] = 'idaho'
new.loc[df['area_id'].str.contains('IL'), 'area_id'] = 'illinois'
new.loc[df['area_id'].str.contains('IN'), 'area_id'] = 'indiana'
new.loc[df['area_id'].str.contains('IA'), 'area_id'] = 'iowa'
new.loc[df['area_id'].str.contains('KS'), 'area_id'] = 'kansas'
new.loc[df['area_id'].str.contains('KY'), 'area_id'] = 'kentucky'
new.loc[df['area_id'].str.contains('LA'), 'area_id'] = 'louisiana'
new.loc[df['area_id'].str.contains('ME'), 'area_id'] = 'maine'
new.loc[df['area_id'].str.contains('MD'), 'area_id'] = 'maryland'
new.loc[df['area_id'].str.contains('MA'), 'area_id'] = 'massachusetts'
new.loc[df['area_id'].str.contains('MI'), 'area_id'] = 'michigan'
new.loc[df['area_id'].str.contains('MN'), 'area_id'] = 'minnesota'
new.loc[df['area_id'].str.contains('MS'), 'area_id'] = 'mississippi'
new.loc[df['area_id'].str.contains('MO'), 'area_id'] = 'missouri'
new.loc[df['area_id'].str.contains('MT'), 'area_id'] = 'montana'
new.loc[df['area_id'].str.contains('NE'), 'area_id'] = 'nebraska'
new.loc[df['area_id'].str.contains('NV'), 'area_id'] = 'nevada'
new.loc[df['area_id'].str.contains('NH'), 'area_id'] = 'new hampshire'
new.loc[df['area_id'].str.contains('NJ'), 'area_id'] = 'new jersey'
new.loc[df['area_id'].str.contains('NM'), 'area_id'] = 'new mexico'
new.loc[df['area_id'].str.contains('NY'), 'area_id'] = 'new york'
new.loc[df['area_id'].str.contains('NC'), 'area_id'] = 'north carolina'
new.loc[df['area_id'].str.contains('ND'), 'area_id'] = 'north dakota'
new.loc[df['area_id'].str.contains('OH'), 'area_id'] = 'ohio'
new.loc[df['area_id'].str.contains('OK'), 'area_id'] = 'oklahoma'
new.loc[df['area_id'].str.contains('OR'), 'area_id'] = 'oregon'
new.loc[df['area_id'].str.contains('PA'), 'area_id'] = 'pennsylvania'
new.loc[df['area_id'].str.contains('RI'), 'area_id'] = 'rhode island'
new.loc[df['area_id'].str.contains('SC'), 'area_id'] = 'south carolina'
new.loc[df['area_id'].str.contains('SD'), 'area_id'] = 'south dakota'
new.loc[df['area_id'].str.contains('TN'), 'area_id'] = 'tennessee'
new.loc[df['area_id'].str.contains('TX'), 'area_id'] = 'texas'
new.loc[df['area_id'].str.contains('UT'), 'area_id'] = 'utah'
new.loc[df['area_id'].str.contains('VA'), 'area_id'] = 'vermont'
new.loc[df['area_id'].str.contains('VA'), 'area_id'] = 'virginia'
new.loc[df['area_id'].str.contains('WA'), 'area_id'] = 'washington'
new.loc[df['area_id'].str.contains('WV'), 'area_id'] = 'west virginia'
new.loc[df['area_id'].str.contains('WI'), 'area_id'] = 'wisconsin'
new.loc[df['area_id'].str.contains('WY'), 'area_id'] = 'Wyoming'
new.rename(columns={'area_id': 'state'}, inplace=True)
new.head(5)

,name,twitter,party,title,gender,state
0,A. Donald McEachin,RepMcEachin,democrat,House of Representatives,male,virginia
1,A. Drew Ferguson IV,RepDrewFerguson,republican,House of Representatives,male,georgia
2,Abby Finkenauer,NaN,democrat,House of Representatives,female,iowa
3,Abigail Davis Spanberger,NaN,democrat,House of Representatives,female,virginia
4,Adam B. Schiff,RepAdamSchiff,democrat,House of Representatives,male,california

In [4]:
twitter_url_senate = r'../us-senate.csv'
df2 = pd.read_csv(twitter_url_senate)

In [5]:
new2 = df2[['name', 'twitter_handle', 'party', 'title', 'gender', 'state_name_slug']]
new2.rename(columns={'twitter_handle': 'twitter', 'state_name_slug': 'state'}, inplace=True)
new2.head(5)

              name         twitter       party    title  gender     state
0  Daniel Sullivan  SenDanSullivan  republican  senator    male    alaska
1   Lisa Murkowski   lisamurkowski  republican  senator  female    alaska
2     Gordon Jones    sendougjones    democrat  senator    male   alabama
3  Richard  Shelby       SenShelby  republican  senator    male   alabama
4     John Boozman     JohnBoozman  republican  senator    male  arkansas

In [8]:
new = new.merge(new2, how='outer')
new.head()

,name,twitter,party,title,gender,state
0,A. Donald McEachin,RepMcEachin,democrat,House of Representatives,male,virginia
1,A. Drew Ferguson IV,RepDrewFerguson,republican,House of Representatives,male,georgia
2,Abby Finkenauer,NaN,democrat,House of Representatives,female,iowa
3,Abigail Davis Spanberger,NaN,democrat,House of Representatives,female,virginia
4,Adam B. Schiff,RepAdamSchiff,democrat,House of Representatives,male,california

In [9]:
len(new)

540

In [10]:
new.to_csv('reps.csv', encoding='utf-8')